<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/common/tips/Tips.less"
    />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <title>Document</title>
  </head>

  <body>
    <!-- For test -->
    <div style="display: flex">
      <div style="margin-left: 300px" class="tip-block">
        <div class="tip-block__main-elem_right">
          <div style="border: 2px solid">Кликни</div>
        </div>
        <div class="tip-block__tip-elem tip-block__tip-elem_right">
          <a href="#">Ссылка</a>
        </div>
      </div>
      <div class="tip-block">
        <div class="tip-block__main-elem_left">
          <img
            style="border: 2px solid"
            src="/public/placeholder.png"
            alt="test"
          />
        </div>
        <div class="tip-block__tip-elem tip-block__tip-elem_left">
          <a href="#">Ссылка</a>
        </div>
      </div>
    </div>
  </body>
</html>
