<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/main-page/search-line/SearchLine.less"
    />

    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <title>Document</title>
  </head>
  <!-- test -->
  <body style="background-color: black">
    <div id="test" class="search-line search-line_active">
      <div class="search-line__icon search-line__icon-search"></div>
      <input class="search-line__input" placeholder="Поиск..." />
      <div class="search-line__icon search-line__icon-cross"></div>
    </div>
  </body>
</html>
