@import '../../common/globals/Globals.less';

@image-width: 690px;
@image-height: 450px;

.main-info {
  width: 100%;
  height: fit-content;
  color: @common-font-color;

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 30px;
    margin-bottom: 30px;
  }

  &__img {
    width: @image-width;
    height: @image-height;
    object-fit: cover;
    border-radius: 30px;
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 30px;
    padding: 10px;
    padding-top: 40px;
  }

  &__name {
    .font-mixin(26px, 26px, 600);
  }

  &__button {
  }
}
