<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/gamePage/mainInfo/MainInfo.less"
    />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/gamePage/buyButton/BuyButton.less"
    />
    <link rel="stylesheet/less" type="text/css" href="/src/pages/Page.less" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/pages/PageContent.less"
    />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <title>Document</title>
  </head>
  <!-- test -->
  <body style="background-color: black">
    <div class="page">
      <div class="main-info">
        <div class="main-info__wrapper">
          <img
            class="main-info__img"
            src="/public/placeholder.png"
            alt="test"
          />
          <div class="main-info__info">
            <div class="main-info__name">Название игры</div>
            <button type="button" class="main-info__button buy-button">Старт</button>
          </div>
        </div>

        <div class="main-info__platforms">
          <div class="main-info__platform">Платформа 1</div>
          <div class="main-info__platform">Платформа 2</div>
          <div class="main-info__platform">Платформа 3</div>
        </div>
      </div>
    </div>
  </body>
</html>
