// TODO переименовать и собрать все цвета в глобалках

@card-width: 224px;
@card-min-height: 330px;
@card-border-radius: 20px;

@side-panel-width: 250px;
@side-panel-elems-width: 200px;
@up-panel-height: 90px;
@up-panel-elems-height: 26px;

@panel-background-color: rgba(17, 16, 29, 1);
@modal-window-background-color: rgba(200, 200, 200, 0.8);
@modal-window-content-background-color: rgba(17, 20, 49, 1);

.font-mixin(@size, @line-height, @font-weight) {
  font-family: 'Roboto', sans-serif;
  font-size: @size;
  font-weight: @font-weight;
  line-height: @line-height;
}

.gallery(@repeat-count: 5, 
@width: @card-width, 
@row-gap: 43px, 
@column-gap: 10px) {
  display: grid;
  grid-template-columns: repeat(@repeat-count, @width);
  grid-row-gap: @row-gap;
  grid-column-gap: @column-gap;
}

.button(@width:fit-content, 
@height:fit-content, 
@padding: 18px 54px, 
@color:rgba(255, 255, 255, 1), 
@back-color: @modal-window-content-background-color, 
@hover-back-color:rgba(255, 255, 255, 0.5), 
@active-back-color: rgba(0, 0, 255, 1), 
@font-size: 16px, 
@line-height: 16px, 
@font-weight: 600) {
  width: @width;
  height: @height;
  padding: @padding;
  border-radius: 30px;
  color: @color;
  background-color: @back-color;
  .font-mixin(@font-size,  @line-height, @font-weight);

  &:hover {
    background-color: @hover-back-color;
  }

  &_active {
    background-color: @active-back-color;
  }
}
