<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/userPage/addCardWindow/AddCardWindow.less"
    />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/common/card/Card.less"
    />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <title>Document</title>
  </head>
  <!-- test -->
  <body style="background-color: black">
    <div style="color: red">test</div>
    <div style="color: red">test</div>
    <div style="color: red">test</div>
    <div style="color: red">test</div>
    <div style="color: red">test</div>
    <div style="color: red">test</div>
    <div class="add-card">
      <div class="add-card__field">
        <div class="card-truncated">
          <img
            class="card-truncated__image"
            alt="Hello"
            src="/public/placeholder.png"
          />
          <div class="card-truncated__content-wrapper">
            <div class="card-truncated__info">
              <div class="card-truncated__name">Test</div>
            </div>
          </div>
        </div>
        <div class="card-truncated">
          <img
            class="card-truncated__image"
            alt="Hello"
            src="/public/placeholder.png"
          />
          <div class="card-truncated__content-wrapper">
            <div class="card-truncated__info">
              <div class="card-truncated__name">Test</div>
            </div>
          </div>
        </div>
        <div class="card-truncated">
          <img
            class="card-truncated__image"
            alt="Hello"
            src="/public/placeholder.png"
          />
          <div class="card-truncated__content-wrapper">
            <div class="card-truncated__info">
              <div class="card-truncated__name">Test</div>
            </div>
          </div>
        </div>
        <div class="card-truncated">
          <img
            class="card-truncated__image"
            alt="Hello"
            src="/public/placeholder.png"
          />
          <div class="card-truncated__content-wrapper">
            <div class="card-truncated__info">
              <div class="card-truncated__name">Test</div>
            </div>
          </div>
        </div>
        <div class="card-truncated">
          <img
            class="card-truncated__image"
            alt="Hello"
            src="/public/placeholder.png"
          />
          <div class="card-truncated__content-wrapper">
            <div class="card-truncated__info">
              <div class="card-truncated__name">Test</div>
            </div>
          </div>
        </div>
        <div class="card-truncated">
          <img
            class="card-truncated__image"
            alt="Hello"
            src="/public/placeholder.png"
          />
          <div class="card-truncated__content-wrapper">
            <div class="card-truncated__info">
              <div class="card-truncated__name">Test</div>
            </div>
          </div>
        </div>
        <div class="card-add">
          <div class="card-add__adding-space">
            <div class="card-add__plus-part"></div>
            <div class="card-add__plus-part"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
