<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/gamePage/userComment/UserComment.less"
    />
    <link rel="stylesheet/less" type="text/css" href="/src/pages/Page.less" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/pages/PageContent.less"
    />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <title>Document</title>
  </head>
  <!-- test -->
  <body style="background-color: black">
    <div class="page">
      <div class="user-comment">
        <textarea
          class="user-comment__field"
          placeholder="Комментарий..."
        ></textarea>
        <button class="user-comment__button" type="button">Подтвердить</button>
      </div>
    </div>
  </body>
</html>
