<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/common/lists/SidePanelList.less"
    />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <title>Document</title>
  </head>
  <!-- test -->
  <body style="background-color: black">
    <ul class="panel-side__list">
      <li class="panel-side__list-item">
        <div class="panel-side__list-marker"></div>
        <div class="panel-side__list-text">Избранное</div>
      </li>
      <li class="panel-side__list-item panel-side__list-item_active">
        <div class="panel-side__list-marker"></div>
        <div class="panel-side__list-text">Все</div>
      </li>
      <li class="panel-side__list-item">
        <div class="panel-side__list-marker"></div>
        <div class="panel-side__list-text">Test</div>
      </li>
    </ul>
  </body>
</html>
