<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/gamePage/userComment/UserComment.less"
    />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/gamePage/commentsBlock/CommentsBlock.less"
    />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/components/gamePage/singleComment/SingleComment.less"
    />
    <link rel="stylesheet/less" type="text/css" href="/src/pages/Page.less" />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/pages/PageContent.less"
    />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <title>Document</title>
  </head>
  <!-- test -->
  <body style="background-color: black">
    <div class="page">
      <div class="comment-block">
        <div class="comment-block__comment single-comment">
          <div class="single-comment__username">Вася</div>
          <div class="single-comment__comment">Коммент 1</div>
        </div>
        <div class="comment-block__comment single-comment">
          <div class="single-comment__username">Петя</div>
          <div class="single-comment__comment">Коммент 2</div>
        </div>
        <div class="comment-block__comment single-comment">
          <div class="single-comment__username">Коля</div>
          <div class="single-comment__comment">Коммент 3</div>
        </div>
      </div>
    </div>
  </body>
</html>
